include ../nav-item/nav-item.pug

mixin nav-list(links, type)
  if (type === "header")
    ul.nav__list
      each link in links
        +nav-item(link)
  if (type === "footer")
    each link in links
      .footer__nav
        p.nav__title.text-header-3= link.title
        ul.nav__list
          each sublink in link.list
            +nav-item(sublink)
