.button {
  display: inline-flex;
  cursor: pointer;
  border-radius: 80px;
  box-sizing: border-box;

  &__text {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 9px 20px;
    line-height: 15px;
  }

  &.empty {
    border: double 2px transparent;
    border-radius: 30px;
    background-image: linear-gradient(white, white), linear-gradient(180deg, $purple 0%, $blue 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: $purple;

    .button__text {
      padding: 7.5px 18px;
    }
  }

  &.full {
    color: #fff;
    background: linear-gradient(180deg, $purple 0%, $blue 100%);
  }
}
