mixin input(props)
  //- Принимает:
  //-   props {
  //-     title: ''         {string} - текст с названием (выводится над полем)
  //-     mods: ''          {string} - модификаторы блока
  //-     val: ''           {string} - текст в поле
  //-     attrs:            {object} - любые атрибуты для input/textarea
  //-       type:           {string}
  //-       placeholder:    {string}
  -
    if(typeof(props) === 'undefined') {
      var props = {};
    }
    var allMods = '';
    if(typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' text-input--' + modsList[i].trim();
      }
    }
  label.text-input(class=allMods)&attributes(attributes)
    if (typeof(props.title) !== 'undefined' && props.title)
      span.text-input__name!= props.title
    span.text-input__input-wrap
      input.text-input__input(
        type=typeof props.attrs !== "undefined" && props.attrs.type ? props.attrs.type : "text",
        value=props.val
      )&attributes(props.attrs)
      block
