.input {
  display: block;

  &_iconed {
    max-width: 267px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  &__help-text {
    font-size: 12px;
    color: $dark-75;
  }

  &__wrap {
    display: flex;
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 9px;
    top: 9px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__control {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    height: 44px;
    border: 1px solid $dark-25;
    border-radius: 4px;
    padding-left: 1.4rem;
    line-height: $line-height;
    font-size: 1em;
    font-family: inherit;

    &:focus,
    &:active {
      outline: none;
      border: 1px solid $dark-50;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &::placeholder {
      color: $dark-25;
    }
  }

  &__help-text {
    &:empty {
      display: none;
    }
  }
}

.input__wrap input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.input__wrap label {
  position: relative;
  cursor: pointer;
}

.input__wrap label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid $dark-25;
  border-radius: 3px;
  padding: 9px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.input__wrap input:checked + label:before {
  border-color: $purple;
}

.input__wrap input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  width: 6px;
  height: 8px;
  border: solid;
  border-image: linear-gradient(180deg, $purple 0%, $blue 100%);
  border-image-slice: 1;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
