.text-input {
  display: block;

  // &__name {
  //   @include field-name;
  // }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  &__help-text {
    font-size: 12px;
    color: $dark-75;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    height: 44px;
    border: 1px solid $dark-25;
    border-radius: 4px;
    padding-left: 1.4rem;
    line-height: $line-height;
    font-size: 1em;
    font-family: inherit;
    // background-color: #fff;
    // -moz-appearance: textfield; // stylelint-disable-line
    // appearance: textfield;

    // &[disabled],
    // &[readonly] {
    //   cursor: not-allowed;
    //   background-color: $gray-lighter;
    // }

    &:focus,
    &:active {
      outline: none;
      border: 1px solid $dark-50;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &::placeholder {
      color: $dark-25;
      // opacity: 1;
    }
  }

  &__help-text {
    // display: block;
    // padding-top: 0.4em;
    // // font-size: $font-size-sm;
    // line-height: 1.2em;
    // // color: $text-color-muted;

    &:empty {
      display: none;
    }
  }
}
