extends ../../layout.pug
include ../../blocks/like-button/like-button.pug
include ../../blocks/form/form.pug

block variables
  - checkboxes = [{mods: "checkbox", checkboxLabel: "Можно курить", attrs: { type: "checkbox", id: "smoke"} }, {mods: "checkbox", isChecked: "true", checkboxLabel: "Можно с питомцами", attrs: { type: "checkbox", id: "pet"} }, {mods: "checkbox", isChecked: "true", checkboxLabel: "Можно пришасить гостей (до 10 человек)", attrs: { type: "checkbox", id: "guests"} }];
  - radioButtons = [{mods: "radio", checkboxLabel: "Мужчина", attrs: { type: "radio", id: "male", name: "sex"} }, {mods: "radio", checkboxLabel: "Женщина", attrs: { type: "radio", id: "female", name: "sex"}}];

block meta
  title Form elements

block content
  .form-elements
    .form-block.col-1
      +form({ title: 'Text field', helpText: "default",  inputs: [{attrs: { name: 'subscribe', placeholder: "Email"}}]})
      +form({ title: 'Text field', helpText: "hover / focus", inputs: [{val: "This is pretty awesome", attrs: { name: 'subscribe', autofocus: ""}}]})
      +form({ title: 'Masked text field', inputs: [{mods: "masked", attrs: { id: 'maskedDate', placeholder: "ДД.ММ.ГГГГ"}}]})
      +form({ title: 'Subscription text field', inputs: [{mods: "iconed", icon:"arrow_forward", attrs: { placeholder: "Email"}}]})
    .form-block.col-2
      +like-button(2)
      +like-button(12, true)
      +form({title: 'Checkbox Buttons', inputs: checkboxes})
      +form({title: 'Radio Buttons', inputs: radioButtons})
    .form-block.col-3
      | 123
