$main: #1f2041;
$dark-100: $main;
$dark-75: rgba($main, 0.75);
$dark-50: rgba($main, 0.5);
$dark-25: rgba($main, 0.25);
$dark-5: rgba($main, 0.05);
$dark-1: rgba($main, 0.1);
$purple: #bc9cff;
$green: #6fcf97;
$blue: #8ba4f9;
$bg-grey: #f4f4f6;
