.footer {
  display: flex;
  background-color: #fff;
  padding: 10.4rem 14rem;

  &__nav {
    min-width: 150px;
  }

  &__block {
    flex-grow: 1;
    flex-shrink: 0;

    &_nav {
      display: flex;
      padding-top: 6px;
      gap: 50px;
      line-height: 16px;
      margin-right: 50px;

      .nav__list {
        align-items: flex-start;
      }
    }

    &_subscribe {
      padding-top: 6px;
      flex-shrink: 1;

      .text-body {
        padding: 2rem 0 2.3rem 0;
      }
    }

    &_description {
      width: 26rem;
      margin-right: 4rem;

      .logo {
        padding-bottom: 20px;
      }
    }
  }

  .nav__list {
    flex-direction: column;
  }

  .text-input {
    position: relative;

    .material-icons {
      position: absolute;
      right: 10px;
      top: 10px;
      background: linear-gradient(180deg, $purple 0%, $blue 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
