.text {
  &__item {
    display: grid;
    gap: 30px;
    grid-template-columns: 3.7rem 1fr;
    padding-bottom: 5.1rem;
  }

  &__label {
    color: $dark-25;
    text-align: right;
  }

  &__main {
    padding-right: 8rem;
  }
}

.text-header-1 {
  font-weight: 700;
  font-size: 24px;
}

.text-header-2 {
  font-weight: 700;
  font-size: 19px;
}

.text-header-3 {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.text-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.3rem;
  color: $dark-75;
}
