@import "./styles/vars.scss";
@import "./styles/reset.css";

@import "./blocks/button/button.scss";
@import "./blocks/form/form.scss";
@import "./blocks/like-button/like-button.scss";
@import "./blocks/header/header.scss";
@import "./blocks/footer/footer.scss";
@import "./blocks/nav-item/nav-item.scss";
@import "./blocks/nav-list/nav-list.scss";
@import "./blocks/logo/logo.scss";
@import "./blocks/input/input.scss";
@import "./blocks/color-list/color-list.scss";
@import "./blocks/color-item/color-item.scss";
@import "./blocks/text-list/text-list.scss";
@import "./blocks/footer-bottom/footer-bottom.scss";
@import "./blocks/text-item/text-item.scss";
@import "./pages/colors-and-type/colors-and-type.scss";
@import "./pages/headers-and-footers/headers-and-footers.scss";
@import "./pages/form-elements/form-elements.scss";

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: $main;
  background-color: $bg-grey;
}

header.header {
  padding: 2.8rem 3rem 6rem;

  .logo__icon {
    width: 48px;
    height: 48px;
    filter: grayscale(100%);
  }
}

// main {
//   max-width: 144rem;
// }

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
