@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("./styles/reset.css");
// @import url("./styles/vars.scss");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
  color: #1f2041;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__right {
    display: flex;
  }
}

.logo {
  display: flex;
  gap: 12.5px;
}

.nav {
  &__list {
    display: flex;
    gap: 20px;
  }
}
