//- include ./blocks/logo/logo.pug
include ./pages/colors-and-type.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title= 'Toxin'
  body
    //- +logo
    //- +colors-and-type
    