include ../button/button.pug
include ../logo/logo.pug
include ../nav-list/nav-list.pug

- var links = [{ name: "О нас", active: true }, { name: "Услуги", dropdown: true }, { name: "Вакансии" }, { name: "Новости" }, { name: "Соглашения", dropdown: true }];

header.header
  +logo
  .header__right
    +nav-list(links)
    .header__buttons
      +button("Войти").header__buttons
      +button("Зарегистрироваться").header__buttons
