include ../button/button.pug
include ../logo/logo.pug
include ../nav-list/nav-list.pug

mixin header(links, user)
  header.header-example
    +logo
    .header-example__right
      +nav-list(links)
      if user
        p.header-example__user= user
      else
        .header-example__buttons
          +button("Войти").empty
          +button("Зарегистрироваться").full
