.header-example {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1.5rem 14rem;
  box-shadow: 0px 10px 20px $dark-5;
  margin-bottom: 40px;

  &__user {
    border-left: 1px solid $dark-1;
    padding-left: 2rem;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
