include ../../blocks/input/input.pug

mixin form(props)
  //- Принимает:
  //-   props {
  //-     title: ''         {string} - текст с названием (выводится над полем)
  //-    helpText: ''      {string} - пояснение над полем
  //-   }

  form.form&attributes(attributes)
    .form__header
      if (typeof(props.title) !== 'undefined' && props.title)
        span.text-header-3.form__name!= props.title
      if (typeof(props.helpText) !== 'undefined' && props.helpText)
        span.form__help-text!= props.helpText
    each input in props.inputs
      +input(input)