include ../logo/logo.pug

mixin footer-bottom(size)
  .footer-bottom(class= size)
    if (size === "small")
      +logo
    p.text-body
      | Copyright © 2018 Toxin отель. Все права защищены.
    .social-media
      a.social-media__link(href="#")
        i.fab &#xf099;
      a.social-media__link(href="#")
        i.fab &#xf082;
      a.social-media__link(href="#")
        i.fab &#xf16d;
